.itemDetailStyleLight {
  text-align: center;
  margin: 15px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.267);
  padding: 10px;
  width: 50%;
  height: 100%;
  border-radius: 3px;
  .itemDetailElement {
    margin: 5px;
    font-weight: 600;
  }
  .countContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: auto;
    border: 1px solid black;
    border-radius: 3px;
    .buttonsContainer {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
      margin: 5px 0;

      .countText {
        font-size: 1em;
        font-weight: 600;
        align-self: center;
      }
    }
  }
  img {
    width: 50%;
    height: 70%;
    object-fit: cover;
    overflow: hidden;
  }
}

.itemDetailStyleDark {
  text-align: center;
  margin: 15px auto;
  background-color: rgb(73, 73, 73);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.267);
  padding: 10px;
  width: 50%;
  height: 100%;
  border-radius: 3px;
  color: #ffffff;
  .itemDetailElement {
    margin: 5px;
    font-weight: 600;
  }
  .countContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: auto;

    border-radius: 3px;
    .buttonsContainer {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
      margin: 5px 0;

      .countText {
        font-size: 1em;
        font-weight: 600;
        align-self: center;
      }
    }
  }
  img {
    width: 50%;
    height: 70%;
    object-fit: cover;
    overflow: hidden;
  }
}
