* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
body {
  background-color: #6b6b6bb2;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

@import "buttons.scss", "itemDetail.scss", "header.scss", "itemList.scss",
  "cart.scss", "footer.scss", "checkout.scss", "switch.scss";
