* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
body {
  background-color: #e6e6e6b2;
}
a {
  text-decoration: none;
}

.appLight {
  background-color: rgb(177, 177, 177);
  min-height: 100vh;
}

.appDark {
  background-color: #777777;
  min-height: 100vh;
}

@import "buttons.scss", "itemDetail.scss", "header.scss", "itemList.scss",
  "cart.scss", "footer.scss", "checkout.scss", "switch.scss";
