*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(107, 43, 167);
    box-shadow: 0 1px 4px black;
    height: 3em;
}

.a__nav-item, .nav-item{
    text-decoration: none;
    list-style: none;
    margin-left: 0.4em;
    color: aliceblue;
}

.nav{
    display: flex;
    justify-content: space-around;
}