* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #651fff;
  box-shadow: 0 1px 4px black;
  height: 3em;

  .header__title {
    color: aliceblue;
  }
}

.a__nav-item,
.nav-item {
  text-decoration: none;
  list-style: none;
  margin: 0.2em;
  margin-left: 0.4em;
  color: aliceblue;
}

.nav {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.countContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
}
.buttonsContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  margin: 5px 0;
}
.countButtons {
  padding: 3px 15px;
  background-color: rgb(102, 27, 172);
  font-size: large;
  color: aliceblue;
  font-weight: 600;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.countText {
  font-size: large;
  font-weight: 600;
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}

.itemStyle:hover {
  transform: scale(1.03, 1.03);
}

.itemStyle {
  text-align: center;
  margin: 10px;
  background-color: rgba(226, 226, 226, 0.322);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.267);
  padding: 5px;
  transition: 0.3s;
}

.itemDetailStyle {
  text-align: center;
  margin: 15px auto;
  background-color: rgba(226, 226, 226, 0.322);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.267);
  padding: 10px;
  width: 50%;
}

.itemDetailElement {
  margin: 5px;
}
